body{
    margin: 0;
<<<<<<< Updated upstream
    font-family: "filson-pro";
}
=======
    font-family: "Nunito", sans-serif;
}
main {
	backgroundColor: "#fff",
	display: "flex",
	flexDirection: "column",
	alignItems: "center"
}
.page-title{
	margin: "6vh 0",
	fontSize: "calc(24px + 1vw)",
	color: "#314839",
}

formStyle{
	width: 50%,
	maxWidth: 800px,
	backgroundColor: #fff,
	color: "#314839,
	display: "flex,
	flexDirection: "column,
	alignItems: "center,
}

const formFieldStyle: React.CSSProperties = {
	width: "100%",
}
const labelStyle = {
	width: "100%",
	marginLeft: "5px",
	marginBottom: "2px",
	fontSize: "16px",
	fontWeight: "bold"
}

const inputStyle: React.CSSProperties = {
	width: "100%",
	marginBottom: "2vh",
	padding: "2px 5px",
	boxSizing: "border-box",
	fontSize: "20px",
}

const horizontalContainerStyle: React.CSSProperties = {
	width: "100%",
	display: "flex",
	justifyContent: "space-between"
}

const buttonStyle: React.CSSProperties = {
	padding: "6px 18px",
	marginRight: "1vw",
	marginBottom: "2vh",
	alignSelf: "end",
	fontSize: "16px",
}

const privacyPolicyStyle: React.CSSProperties = {
	marginTop: "2vh",
	marginBottom: "10vh",
	fontSize: "12px",
}
>>>>>>> Stashed changes
