:root{
	--bg-green: #246036;
	--bg-white: #fff;
	--font-dark: #000;
}

main {
	padding: 0;
	width:100%;
	background-color: var(--bg-green);
}

.gallery-section{
	height: 120vh;
	width: 100%;
	box-sizing:border-box;
	background-color: var(--bg-green);
	background-image: url("../images/fiszki.png"), url("../images/fiszki.png");
	background-position: right top, right top;
	background-size: 110% auto, 130% auto;
	background-repeat: no-repeat, no-repeat;
	display: flex;
	justify-content: end;
	align-items: end;
}

.text-container{
	width: 60%;
	height: 350px;
	min-width: 500px;
	color: white;
	margin-right: 40px;
	margin-bottom: 50px;
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items:end;
}

.text-container>img{
	width: 260px;
	margin-bottom: 30px;
}
.text-container>h2{
	font-size: 32px;
	text-align: right;
	font-weight: bold;
	text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.25);
}
.text-container>h3{
	font-size: 28px;
	text-align: right;
	text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.25);
}

.text-section{
	width:100vw;
	background-color: #fff;
}
.text-section > h3{
	color: var(--font-dark);
	width: 100%;
	height: auto;
	font-size: 24px;
	font-weight: normal;
	margin: 50px 0px 50px 0px;
	text-align: center
}

.link-section{
	width:100%;
	background-color: var(--bg-green);
	box-sizing: border-box;
	padding: 100px;
	/* box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.25); */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.purpleButton{
    background-color: #7137FF;
    transition: background-color 0.25s ease-in-out;
}
.purpleButton:hover{
    background-color: #936AFF;
}
.orangeButton{
    background-color: #BB6710;
    transition: background-color 0.25s ease-in-out;
}
.orangeButton:hover{
    background-color: #EE8942;
}

br{
	margin: 50px;
}
