main{
	background-color: white;
	color: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.page-title{
	text-align: center;
	font-size: calc(24px + 1vw);
	color: #314839;
	margin: 6vh 0;
}
.full-section{
	width: 100%;
	margin-bottom: 15vh;
}
.full-section .paragraph-container{
	width:100%;
}
